.footerFormBox {
  text-align: center;
  padding: 1.43rem 0;
  border: 1px solid #dbdbdb;
}
.footerFormBox span {
  font-size: 0.87rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: 000000;
}
.footerFormBox .footerLink {
  color: #0095f6;
  background-color: transparent;
  border: none;
  font-size: 0.87rem;
  line-height: 1.125rem;
  font-weight: 600;
  text-decoration: underline;
}
