.mainAppPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.mainPageNav {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  margin-left: 20.18rem;
}

@media (max-width: 1200px) {
  .mainPageNav {
    margin-left: 15.25rem;
  }
}

@media (max-width: 992px) {
  .mainPageNav {
    margin-left: 12.5rem;
  }
}

@media (max-width: 768px) {
  .mainPageNav {
    margin-left: 6rem;
  }
}
