.gridBox {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(404px, 1fr));
  gap: 23px 40px;
  align-items: start;
}

.gridPicBox {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  row-gap: 4px;
  column-gap: 4px;
  align-items: start;
  padding: 89px 0;
}

.postPic img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
}
