.footerMainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 3.81rem;
  gap: 3rem;
  background-color: white;
  position: relative;
  z-index: 1001;
}

.footerMenu {
  display: flex;
  gap: 1.75rem;
}

.footerMenuOption,
.footerMainBox {
  color: #737373;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  text-decoration: none;
}

.footerMenu button {
  background-color: transparent;
  border: none;
  color: #737373;
  cursor: pointer;
}
