.overlayBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  display: flex;
  color: black;
}

.overlayPanel {
  margin-left: 15.25rem;
  margin-top: 0;
  z-index: 1001;
}
